*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login,
.model{
    width: 350px;
    background: #222121;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login__text,
.model__text{
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.login input, 
.login button,
.model input,
.model button{
    width: 100%;
    height: 48px;
}
.login button,
.model button{
    border-radius: 25px;
    background: #ff0000c8;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border: none;
    transition: .5s;
}
.login button,
.model button:hover{
    cursor: pointer;
}

input{
    height: 100%;
    background: #353434;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.password{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
}
.btn__password{
    width: 10%;
    background: none; 
    display: flex;
    justify-content: center;
    /* display: none; */
}

.popap{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0004;
    z-index: 100;
    opacity: 0;
    animation: overlay .5s ease 0s forwards;
}
@keyframes overlay {
    to{
        opacity: 1;
    }
}

.model{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) scale(.8);
    width: 350px;
    min-height: 400px;
    background: #222121;
    padding: 20px;
    border-radius: 15px;
    z-index: 101;
    box-shadow: 0 0 25px #0005;
    opacity: 0;
    animation: model .5s ease 0s   forwards;
}
@keyframes model {
    to{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
